.top-bar{
    position: sticky;
    top: 0;
    z-index: 1071;
}
.content, #actions-sidebar {
     margin-bottom: 0 !important;
     padding-bottom: 0 !important;
}
#actions-sidebar{
    height: 100vh !important;
    /*position: sticky !important;*/
    top: 2rem !important;
}
/*.table th{*/
/*    border-top: 0px none !important;*/
/*}*/
table tr th{
    border-bottom: 0px none !important;
}
.nav-shadow-bottom{
    /*box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;*/
    box-shadow: 0 .5rem .5rem 0 rgba(58,59,69,.15)!important;
}
.row{
    /*width: 100% !important;*/
    max-width: initial !important;
    width: auto !important;
}
.title-area{
    background: #fafafa !important;
}
.shadow {
    /*box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;*/
    box-shadow: 0 .5rem .5rem 0 rgba(58,59,69,.15)!important;
}
.card{
    border: 1px solid #e3e6f0;
}
.card-header{
    background: #f8f9fc;
}
.text-gray-800 {
    color: #5a5c69!important;
}
.side-nav li a:not(.button) {
    color: rgba(255,255,255,.8);
}
.side-nav li:hover a{
    color: #fff;
}
.side-nav li.heading {
    color: rgba(255, 255, 255, .4);
}
.bg-gradient-primary{
    background-image:none;
}
ul {
    margin-left: 0;
    /* margin-left: 1.1rem; */
}
.error{
    font-size:14px !important;
    background:#ff5d6c !important;
    padding: 10px !important;
}
.btn-default{
    background: #036;
    color:#FFF;
}
.bg-login-image{
    background-image: url('../img/map-of-ogun-state.jpg') !important;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-header.box-header {
    background:#FFF;
    padding: 5px;
}
.card-header.box-header .box-caption, .top-box .card-text, .table-box td, .text-reduce{
    font-size:12px !important;
}
.table-box td{
    padding: 0;
    margin: 0;
}
.table-box{
    border: none;
}
.top-box .card-text{

}
.top-box .h5{
    /*font-size:25px !important;*/
    /*font-weight: bolder !important;*/
    margin-bottom: 20px !important;
}
.padding-1{
    padding: 5px !important;
}
.priority-box{
    height: 450px;
    overflow: auto;
}
.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.error label,
.error label.error {
    color: #C3232D;
}
/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}
i.addon-left, i.addon-right{
    z-index: 99;
}
i.addon-left {
    position: absolute;
    padding: 0.4em 0.6em;
    pointer-events: none;
}
input.addon-left {
    padding-left: 30px;
}
i.addon-right {
    position: absolute;
    right: 0px;
    padding: 0.4em 0.6em;
    pointer-events: none;
}
input.addon-right {
    padding-right: 30px;
}
textarea.form-control{
    height:122px !important;
}
.loader{
    position:fixed;
    top:40%;
    left:50%;
    z-index:1;
}
#clickable-card:hover,#clickable-sub-applet:hover{
    cursor:pointer;
}
.white-bg{
    background:#fff;
}